[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yakhub
[access "refs/for/refs/*"]
	read = group user/Yakhub
	push = group user/Yakhub
	label-Code-Review = -2..+2 group user/Yakhub
	label-Verified = -1..+1 group user/Yakhub
	rebase = group user/Yakhub
	removeReviewer = group user/Yakhub
	submit = group user/Yakhub
[access "refs/heads/*"]
	read = group user/Yakhub
	create = group user/Yakhub
	push = +force group user/Yakhub
	pushMerge = group user/Yakhub
[access "refs/tags/*"]
	push = group user/Yakhub
	push = +force group user/Yakhub
